<div class="auth">
  <div class="auth__header">
    <div class="auth__logo">
      <img height="150" src="./assets/university.png" alt="" />
    </div>
  </div>
  <div class="auth__body">
    <form
      class="auth__form"
      #loginForm="ngForm"
      (ngSubmit)="login(loginForm)"
      autocomplete="off"
    >
      <div class="auth__form_body">
        <h3 class="auth__form_title">the university</h3>
        <div>
          <div class="form-group">
            <label class="text-uppercase small">Username</label>
            <input
              ngModel
              name="username"
              class="form-control"
              placeholder="Enter username"
              required
            />
          </div>
          <div class="form-group">
            <label class="text-uppercase small">Password</label>
            <input
              ngModel
              name="password"
              type="password"
              class="form-control"
              placeholder="Enter Password"
              required
            />
          </div>
        </div>
      </div>
      <div class="auth__form_actions">
        <button
          class="btn btn-primary btn-lg btn-block"
          [disabled]="loginForm.invalid"
        >
          LOGIN
        </button>
      </div>
    </form>
  </div>
</div>
